.button__div {
  width: 65px;
}

.button__panel {
  display: flex;
  justify-content: space-between;
}

.chosen__btn {
  
  /* block-model */
  padding: 3px;
  min-width: 65px;

  /* decoration */
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid;
}