.work_field {
  width: 100%;
}

.draggable__div {

  /* bloack-model */
  width: 100px;
  height: 100px;

  /* decorations */
  background-color: #0074D9;
}

.draggable__text {

  /* bloack-model */
  width: 100px;
  height: 100px;

  /* decorations */
  background-color: transparent;

  /* other */
  resize: none;
}

.draggable__text::-webkit-scrollbar {
  display: none;
}

.draggable__inp {
  width: 300px;
  height: 30px;
}

.draggable__btn {

  /* bloack-model */
  width: 70px;
  height: 20px;

  /* typography */
  font-size: 15px;

  /* decorations */
  background-color: #cccccc;

  /* other */
  resize: none;
}

.draggable {
  /* position */
  position: absolute;

  /* other */
  cursor: grab;
}